* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Epilogue";
    text-transform: capitalize;
    transition: 0.3s ease;
}
nav {
    max-width: 100%;
    display: flex;
    margin: 3% 5%;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
nav .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .first .logo {
    margin-right: 4rem;
    text-transform: lowercase;
    font-size: 2.5rem;
}
.first .list {
    display: flex;
    align-items: center;
    
}
.first .list  li {
    color: #777;
    font-weight: 600;
    list-style: none;
    margin-right: 15%;
    position: relative;
    cursor: pointer;
    /* transition: 0.3s ; */
}
.first .list  li h4::after,
.first .list  li h4::after  {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: 3px;
    border: 7px solid black;
    border-color:  #777 transparent transparent;
    transform: translateY(-50%);
    margin-left: 6px;
    transition: 0.3s ease;
}
.first .list  li:hover {
    color: black;
} 

.first .list li h4:hover::after {
    border-color: black;
    border-color: black transparent transparent transparent;
    transform: rotate(180deg) translateY(90%);

}
body{
    width: 100%;
    height: 100%;
}
nav .last {
    display: flex;
    align-items: center;

}
nav .last input {
    padding: 10px 15px;
    border-radius: 9px;
    background-color: transparent;
    margin-right: .75rem;
    color: #777;
    font-weight: 600;
    cursor: pointer;
}
nav .last input:hover {
    color: black;

} 
nav .last input:first-child {
    border: none;
} 
.content {
    position: absolute;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 2rem 25px;
    padding-right: 35px;
    box-shadow: 2px 7px 10px 5px rgba(197, 197, 197, 0.244);
    color: #aaa;
    font-weight: 600;
    font-size: 13px;
    display: none;
    left: -5rem;
    top: 1.2rem;
    width: 180px;
    transition: 0.3s ease;
    /* visibility: hidden; */
}
nav .feat .content .line{
    margin-bottom: 30px;
    font-size: 16px;
    transition: .2s;
}
.content .txt {
    display: flex;
    flex-direction: column;
}
.content .txt p {
    margin-bottom: 30px;
    font-size: 16px;
    transition: .2s;
}
.feat:hover .content,
.comp:hover .content{
    display: flex;
    flex-direction: column;
    /* transition: .5s ease; */
}
.line {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.line p {
    margin-left: 10px;
}

.line  i {
    font-size: 16px;
}
.line .fa-clipboard-list{
    color: rgb(56, 55, 149);
}
.line .fa-calendar-days{
    color: rgb(30, 159, 229);
}
.line .fa-bell{
    color: rgb(234, 195, 87);
}
.line .fa-play{
    color: rgb(185, 51, 189);
}
.comp p:hover,
.line:hover {
    cursor: pointer;
    color: black;
    transform: translateX(10px);
    
}
nav .toggle {
    position: absolute;
}
/* .comp p::before,
.feat .line::before {
    content: '';
    border-left-width: 3px;
    width: 3px ;
    height: 20px ;
    background-color: black;
    
    position: absolute;
    left: 2px;
} */
@media (max-width: 767px ) {
    nav ul li,
    nav .last {
        display: none;
    }
    nav .last input {
        font-size: 13px;
    }
    nav .toggle {
        position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        width: 2rem;
        height: 30px;
        cursor: pointer;
    }
    nav .toggle div {
        border-radius: 51px;
        margin: 3px 0;
        background-color: black;
        width: 100%;
        height: 3px;

    }
}


.parent {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    padding-right: 35px;
    box-shadow: 2px 7px 10px 0px rgba(197, 197, 197, 0.545);
    color: #aaa;
    font-weight: 600;
    font-size: 13px;
    display: block;
    position: absolute;
    margin-top: 10.5rem;
    left: 17rem;
    flex-direction: column;
}
/* .downlist-2 {
    
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    padding-right: 35px;
    box-shadow: 2px 7px 10px 0px rgba(197, 197, 197, 0.545);
    color: #aaa;
    font-weight: 600;
    font-size: 13px;
    display: block;
    position: absolute;
    margin-top: 10.5rem;
    left: 17rem;
    flex-direction: column;

} */
/* nav .first .list .comp:hover .parent {
    display: block;
    color: #aaa;
    background-color: red;
}  */
/* .downlist-2 p {
    margin-bottom: 15px;
} */

/* .downlist-1 {
    display: flex;
    left: 7rem;
    position: absolute;
    margin-top: 12rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    padding-right: 35px;
    box-shadow: 2px 7px 10px 0px rgba(197, 197, 197, 0.545);
    color: #aaa;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    position: absolute;
} */



/* 
.home {
    display: flex;
    width: 100vh;
    height: 100%;
    margin: 3% 5%;
    align-items: center;
    margin-top: 10%;
}
.home .content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.home .content .text {
    width: 60%;

}
.home .content .imgbox {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home .content .imgbox img {
    width: 20rem;
    margin-right: -60%;
}
.home .content h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.home .content h1 span {
    text-transform: lowercase;
}
.home .content p {
    font-size: 18px;
    margin-bottom: 1rem;
}
.home button {
    padding: 10px 20px;
    background-color: transparent;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}
.small-img {
    flex-direction: row;

}
.small-img img {
    width: 5rem;
    margin-right: 1rem;
} */
.home {
    margin:  10%;
    /* margin-top: 2%; */
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .side {
    width: 50%;
    margin-top: 5rem
}
.home .image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.home .image img {
    width: 25rem;
}
.home .text h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.home .text h1 span {
    margin-top: -10px;
    text-transform: lowercase;
}
.home .text p {
    line-height: 1.5;
    margin-bottom: 50px;
    font-size: 20px;
    color: #777;
    font-weight: 500;
}
.home button {
    padding: 20px 30px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid transparent;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
.home button:hover {
    transform: scale(1.1) translateY(-10px);
    /* box-shadow: 0px 15px 5px 0px rgb(210, 210, 210); */
    color: black;
    background-color: transparent;
    border: 1px solid black;
}
.small-img {
    width: 100%;
}
.small-img img {
    /* display: flex; */
    margin-right: 30px;
    margin-top: 40px;
    width: 5.5rem;
}

.home .iamge-1 {
    display: none;
    width: 100%;

}
@media (max-width: 900px ) {
    .home {
        margin:  2%;
        margin-top: 5rem;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        height: 100%;
        max-width: 100%;
    }
    .home .side {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .home .side .text {
        /* margin-top: 10rem; */
        width: 100%;
    }
    .home .side .text h1 {
        font-size: 2rem;
        display: block;
    }
    .home span {
        color:  hsl(0, 0%, 41%);
    }
    .home .side .text p{
        font-size: 15px;
    }
    .home .side button {
        font-size: 18px;
        /* width: 50%; */
        padding: 15px 30px;
    }
    .small-img {
        /* width: 100%; */
        display: grid;
        grid-template-rows:1fr ;
        grid-template-columns:25% 25%  25% 25%;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        margin-bottom: 7rem;
    }
    .small-img img {
        margin-left: 50%;
    }
    .home .image {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .home .image {
        display: flex;
    }
    .home  .image  .iamge-1 {
        display: block;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .home .image  .iamge-2 {
        display: none;
    }
    /* .home .image img {
        width: 70%;
    } */
}
@media (max-width: 445px ) {
    .small-img {
        width: 100%;
        display: grid;
        grid-template-rows:50% 50% ;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: center;
        /* align-content: center;
        justify-items: center; */
        margin-bottom: 7rem;
    }
    .small-img img {
        width: 5rem;
        margin-left: 10px;
        /* margin-right: 20px; */
    }
}